{% extends 'index.html' %}
{% load static %}

<style>
  .book_section textarea.form-control {
    resize: none !important;
    height: 120px !important;
  }
</style>

{% block hero_content %}

  <section class="book_section layout_padding" style="position: relative; z-index: 1; width: 100%; display: flex; align-items: center; min-height: 100vh; overflow: hidden;">

    <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.5); z-index: 0; pointer-events: none;"></div>

    <div class="container" style="position: relative; z-index: 1;">
      <div class="heading_container mb-4">
        <h2 style="color: #ffffff;">Book a Custom Order</h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <form action="{% url 'custom_order_index' %}" method="post">
                {% csrf_token %}
              <div>
                  {{ form.lord_name }}
              </div>
              <div>
                  {{ form.shield_type }}
              </div>
              <div>
                  {{ form.heraldry_description }}
              </div>
              <div class="btn_box">
                <button type="submit">
                    BOOK NOW
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="map_container">
            <div id="googleMap"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}