  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-col">
          <div class="footer_contact">
            <h4>
              Guild Outpost
            </h4>
            <div class="contact_link_box">
                <div class="contact_item">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span>
                        {{ about_info.phone }}
                    </span>
                </div>
                <div class="contact_item">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span>
                  {{ about_info.email }}
                    </span>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <div class="footer_detail">
            <a href="" class="footer-logo">
              Royal Armory Guild
            </a>
            <p>
                The premier order of master blacksmiths, crafting legendary steel, heavy plate armor, and reinforced shields for the realm's finest defenders</p>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <h4>
            Forge Schedule
          </h4>
          <p>
            The Anvil Rings Daily
          </p>
          <p>
            10.00 Am -10.00 Pm
          </p>
        </div>
          <div style="display: none;"><span id="displayYear"></span></div>
      </div>
    </div>
  </footer>
  <!-- footer section -->